<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-5">
      <div class="col-6">

          

          <div class="mt-5">
            
            <form action="/measurement/createMeasurement"  method="POST">
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Major</th>
                            <th>Moderate</th>
                            <th>Minimum</th>
                            <th>Nil</th>
                            <th>Pain</th>
                            <th>Notes</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Flexion</td>
                            <td><input type="radio" name="rom_flexion" value="major"></td>
                            <td><input type="radio" name="rom_flexion" value="moderate"></td>
                            <td><input type="radio" name="rom_flexion" value="minimum"></td>
                            <td><input type="radio" name="rom_flexion" value="nil" checked></td>
                            <td><input type="number" name="rating[]" value="0" min="0" max="10" step="1" placeholder="0" onclick="this.select();"></td>
                            <td><textarea name="notes[]"></textarea></td>
                        </tr>
                        <tr>
                            <td>Extension</td>
                            <td><input type="radio" name="rom_extension" value="major"></td>
                            <td><input type="radio" name="rom_extension" value="moderate"></td>
                            <td><input type="radio" name="rom_extension" value="minimum"></td>
                            <td><input type="radio" name="rom_extension" value="nil" checked></td>
                            <td><input type="number" name="rating[]" value="0" min="0" max="10" step="1" placeholder="0" onclick="this.select();"></td>
                            <td><textarea name="notes[]"></textarea></td>
                        </tr>
                        <tr>
                            <td>Right Side Glide</td>
                            <td><input type="radio" name="rom_rightglide" value="major"></td>
                            <td><input type="radio" name="rom_rightglide" value="moderate"></td>
                            <td><input type="radio" name="rom_rightglide" value="minimum"></td>
                            <td><input type="radio" name="rom_rightglide" value="nil" checked></td>
                            <td><input type="number" name="rating[]" value="0" min="0" max="10" step="1" placeholder="0" onclick="this.select();"></td>
                            <td><textarea name="notes[]"></textarea></td>
                        </tr>
                        <tr>
                            <td>Left Side Glide</td>
                            <td><input type="radio" name="rom_leftglide" value="major"></td>
                            <td><input type="radio" name="rom_leftglide" value="moderate"></td>
                            <td><input type="radio" name="rom_leftglide" value="minimum"></td>
                            <td><input type="radio" name="rom_leftglide" value="nil" checked></td>
                            <td><input type="number" name="rating[]" value="0" min="0" max="10" step="1" placeholder="0" onclick="this.select();"></td>
                            <td><textarea name="notes[]"></textarea></td>
                        </tr>
                    </tbody>
                </table>
                
                
                
                 <select name="exerciseGiven" required>
                     <option value="" selected disabled>Exercise</option>
                     <option value="initialAssessment">Initial Assessment</option>
                     <option value="ProneLying">ProneLying</option>
                     <option value="POE">POE</option>
                     <option value="REIL">REIL</option>
                     <option value="REIL_on_Blocks">REIL on Blocks</option>
                     <option value="REIL_PT_OP">REIL PT OP</option>
                     <option value="PA_mobs">PA mobs</option>
                 </select>
                 <input type="text" name="patient_Id" required placeholder="Enter Patient ID">
                 <input type="submit" value="Objective measurements">
              </form>
          </div>
      </div>
     
      <div>
        <p><strong>User Name</strong>: <%= user.userName %></p>
        <p><strong>Email</strong>: <%= user.email %></p>
        <a href="/logout" class="col-3 btn btn-primary">Logout</a>
    </div>


    </div>
  </div>
</div>
<%- include('partials/footer') -%>